<div class="container" style="max-width: 600px;background-color: rgb(117, 111, 111); margin-top: 30px;">

    <h1 class="textual">Admin Registration</h1>left
      <form #Registerform="ngForm" (ngSubmit)="registerUser()">
          
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control"  placeholder="Enter a valid email" name="email" [(ngModel)]="user.emailId" required email pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
             #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched"
            >
           
            <div *ngif="email.errors && (email.invalid && email.touched)">
              <small class="text-danger" *ngif="email.errors.required">Email Id is required</small>
              <small class="text-danger" *ngif="email.errors.pattern">Enter the valid emailId</small>
          </div>
          </div> 
          <div class="form-group">
            <label for="username">User Name:</label>
            <input type="text" class="form-control"  placeholder="Enter username" name="username" [(ngModel)]="user.userName" required #username="ngModel" required
            [class.is-invalid]="username.invalid && username.touched"
            >
            <small class="text-danger" [class.d-none]="username.valid || username.untouched ">User Name is required</small>
          </div>

          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control"  placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password="ngModel" required
            [class.is-invalid]="password.invalid && password.touched"
            >
            <small class="text-danger" [class.d-none]="password.valid || password.untouched ">Password is required</small>
          </div>

          <div class="form-group">
              <label for="pwd">Confirm Password:</label>
              <input type="password" class="form-control" placeholder="Enter confirm password" name="cpassword" #cpassword="ngModel" (ngModel)="user.password" required
              [class.is-invalid]="cpassword.invalid && cpassword.touched">
              <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">password & Confirm password must be same</small>
          </div>
          <br>
          <button [disabled]="Registerform.form.invalid" type="submit" class= "btn btn-success">Register</button>
          <br><br>
          
          
          Existing user ? <a href="/login"> Login here!!</a>
        </form>
      </div>
