
<table class ="table table-stripped">
  
    <thead>
        <tr>
            <th>EmpId</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td> {{leave.empId}}</td>
        <td> {{leave.leavetype}}</td>
        <td> {{leave.startdate}}</td>
        <td> {{leave.enddate}}</td>
        <td> {{leave.duration}}</td>
        <td>
        </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" (click)="Back()">Back</button>
