<button class="btn btn-danger" type="submit" (click)="Logout()" style="float: right;">Logout</button>
<div class="container">
  <div style="background-color: blue;">
    <h2>Salary list</h2>
    <p>Monthly salary list of employees</p>
    <button type="button" class="btn btn-success" (click)="goToAddSalary()">Add Salary</button>
  </div>
    <table class="table">
      <thead class="cont">
      <tr>
        <th scope="col">Salary ID</th>
        <th scope="col">Employee Id</th>
        <th scope="col">Basic pay</th>
        <th scope="col">Dearness Allowance</th>
        <th scope="col">House Rent Allowance</th>
        <th scope="col">Gross Salary</th>
        <th scope="col">Provident Fund</th>
        <th scope="col">Tax</th>
        <th scope="col">Deduction</th>
        <th scope="col">NetPay</th>
        <th scope="col">Transaction date</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="salary.length ===0">
        <td colspan="5" style="text-align: center"><h2>No employee Salary yet</h2></td>
      </tr>
      <tr *ngFor="let sal of salary">
        <th >{{sal.salId}}</th>
        <td>{{sal.empId}}</td>
        <td>{{sal.basicPay}}</td>
        <td>{{sal.da}}</td>
        <td>{{sal.hra}}</td>
        <td>{{sal.grossSalary}}</td>
        <td>{{sal.pfAmount}}</td>
        <td>{{sal.tax}}</td>
        <td>{{sal.deduction}}</td>
        <td>{{sal.netPay}}</td>
        <td>{{sal.tranDate}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="goToEditSalary(sal.salId)" >Edit</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-info" (click)="goToViewSalary(sal.salId) ">View</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteSalary(sal.salId)">Delete</button>
        </td>
         </tr>
    
      </tbody>
    </table>
    
    </div>
    &nbsp;&nbsp;&nbsp;<a href="loginsuccess">Back</a>
    