


<h2>Attendance List of Employee</h2>
<table class ="table table-stripped">
    <thead style="background-color: blueviolet;">
        <tr>
            <th>EmpId</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody style="background-color: aliceblue;">
        <tr>
        <td> {{attend.empId}}</td>
        <td> {{attend.date}}</td>
        <td> {{attend.status}}</td>
        <td>
        </td>
        </tr>
    </tbody>
</table>
&nbsp;&nbsp;&nbsp;
<button class="btn btn-danger" (click)="Back()">Back</button>