
<h2>Work Schedule</h2>
<table class ="table table-stripped">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>Start Date</th>
            <th>Shift</th>
            <th>StartingTIme</th>
            <th>EndingTIme</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td> {{Schedule.empId}}</td>
        <td> {{Schedule.date}}</td>
        <td> {{Schedule.shift}}</td>
        <td> {{Schedule.startingTime}}</td>
        <td>{{Schedule.endTime}}</td>
        <td>{{Schedule.duration}}</td>
        <td>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" (click)="Back()">Back</button>
