<div class="col-md-6 offset-md-3">

    <h3>Update Timesheet</h3>
    
    <form #updatetimesheet="ngForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>EmpId</label>
            <input type="text"  class="form-control" id="empId"  
                 [(ngModel)] ="timesheet.empId " name="empId" required>
                 
        </div>
    
        <div class="form-group">
            <label>Date</label>
            <input type="week" class="form-control" id="date" 
                 [(ngModel)] ="timesheet.date " name="date" required>
        </div>
    
        <div class="form-group">
            <label>InTime</label>
            <input type="time" class="form-control" id="intime" 
                 [(ngModel)] ="timesheet.inTime " name="inTime" required>
        </div>
    
        <div class="form-group">
            <label>OutTime</label>
            <input type="time" class="form-control" id="outTime" 
                 [(ngModel)] ="timesheet.outTime " name="outTime" required>
        </div>
    
        <div class="form-group">
            <label for="regularTime">Select Regular Hours:</label>
            <select class="form-control"  [(ngModel)]="timesheet.regularTime" name="regularTime" required> 
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
    
        <div class="form-group">
            <label>BreakTime Hours</label>
            <select type="time" class="form-control" id="breakTime" 
                 [(ngModel)] ="timesheet.breakTime " name="breakTime" required>
                 <option>1</option>
                 <option>2</option>
                 <option>3</option>
                </select>
        </div>
    
        <div class="form-group">
            <label for="overtimeHours">Select OverTime Hours:</label>
            <select class="form-control"  [(ngModel)]="timesheet.overtimeHours" name="overtimeHours" required>
              <option>Nil</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
            </select>
          </div>
    
          <div class="form-group">
            <label for="totalHours">Select Total Hours:</label>
            <select class="form-control"  [(ngModel)]="timesheet.totalHours" name="totalHours" required>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
    
        <button [disabled]="updatetimesheet.form.invalid" class="btn btn-primary" type="submit">Submit</button>
    
    </form>
    </div>