
<div class="container" style="max-width: 600px; background-color:gray; margin-top: 30px;">
  <h2 class="textual">Employee Registration</h2>
  <form #Registerformform = "ngForm" (ngSubmit) = "registerEmployee()">
    <!-- <small [class.text-danger]="msg.status==5000">{{msg.message}}</small> -->
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="email"  class="form-control" placeholder="Enter email" name="email"  [(ngModel)] ="employee.emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required #email ="ngModel"

      [class.is-invalid]= "email.invalid && email.touched " >

      <div *ngIf="email.errors && (email.dirty && email.touched)" class="alert-email alert-danger-email"><br>

              <div [hidden]="!email.errors['pattern']" style="color: red;">
                Please input a valid email.
              </div>
              <div [hidden]="!email.errors['required']">
                Email is required
              </div>

            </div>

    </div>

    <div class="form-group">
      <label for="fName">First name:</label>
      <input type="fName" class="form-control"  placeholder="Enter first name" name="fName" [(ngModel)] ="employee.fName" #firstname ="ngModel" required
            [class.is-invalid]="firstname.invalid && firstname.touched">
            <small class="text-danger"  [class.d-none]= "firstname.valid || firstname.untouched">First name is required field</small>
    </div>

  <div class="form-group">
    <label for="lName">Last name:</label>
    <input type="lName" class="form-control"  placeholder="Enter last name " name="lName" [(ngModel)] ="employee.lName" #lastname ="ngModel" required
          [class.is-invalid]="lastname.invalid && lastname.touched">
          <small class="text-danger"  [class.d-none]= "lastname.valid || lastname.untouched">Last name is required field</small>
  </div>

  <div class="form-group">
    <label for="dob">Date of birth:</label>
    <input type=date class="form-control"  placeholder="Enter Date of birth " name="dob" [(ngModel)] ="employee.dob" #dob ="ngModel" required
          [class.is-invalid]="dob.invalid && dob.touched">
          <small class="text-danger"  [class.d-none]= "dob.valid || dob.untouched">Date of birth is required field</small>
  </div>

<div class="form-group">
  <label for="gender">Gender:*</label><br>

    <input type="radio" name="gender" value="male" [(ngModel)] ="employee.gender"  checked="checked" required> Male
    <input type="radio" name="gender" value="female" [(ngModel)] ="employee.gender" required> Female
    <input type="radio" name="gender" value="other" [(ngModel)] ="employee.gender" required> Other



</div>

  <div class="form-group">
    <label for="location">Location:</label>
    <input type="location" class="form-control"  placeholder="Enter your location" name="location" [(ngModel)] ="employee.location" #location ="ngModel" required
          [class.is-invalid]="location.invalid && location.touched">
          <small class="text-danger"  [class.d-none]= "location.valid || location.untouched">location required field</small>
  </div>

  <div class="form-group">
    <label for="street">Street:</label>
    <input type="street" class="form-control"  placeholder="Enter your street name" name="street" [(ngModel)] ="employee.street" #street ="ngModel" required
          [class.is-invalid]="street.invalid && street.touched">
          <small class="text-danger"  [class.d-none]= "street.valid || street.untouched">Street name required field</small>
  </div>

  <div class="form-group">
    <label for="city">City:</label>
    <input type="city" class="form-control"  placeholder="Enter your city name" name="city" [(ngModel)] ="employee.city" #city ="ngModel" required
          [class.is-invalid]="city.invalid && city.touched">
          <small class="text-danger"  [class.d-none]= "city.valid || city.untouched">City name required field</small>
  </div>

  <div class="form-group">
    <label for="state">State:</label>
    <input type="state" class="form-control"  placeholder="Enter your state name" name="state" [(ngModel)] ="employee.state" #state ="ngModel" required
          [class.is-invalid]="state.invalid && state.touched">
          <small class="text-danger"  [class.d-none]= "state.valid || state.untouched">State name required field</small>
  </div>
  <div class="form-group">
    <label for="pincode">Pincode:</label>
    <input type="pincode" class="form-control"  placeholder="Enter your area pincode " minLength="5" maxLength="7" name="pincode" [(ngModel)] ="employee.pincode" #pincode ="ngModel" required
          [class.is-invalid]="pincode.invalid && pincode.touched">
          <small class="text-danger"  [class.d-none]= "pincode.valid || pincode.untouched"> Pincode is required field</small>
  </div>




  <div class="form-group">
    <label for="mobNo">Mobile number:</label>
    <input type="tel" class="form-control"  placeholder="Enter your mobile number " pattern="[6-9]{1}[0-9]{9}"  minlength="10" maxlength="10" name="mobNo" [(ngModel)] ="employee.mobNo" #mobNo ="ngModel" required
          [class.is-invalid]="mobNo.invalid && mobNo.touched">

         <div *ngIf="mobNo.errors && (mobNo.invalid && mobNo.touched)"><br>

              <div  class="text-danger"  [hidden]="!mobNo.errors['pattern']">
                Please input  valid mobile number.
              </div>
              <div   class="text-danger" [hidden]="!mobNo.errors['required']">
                Mobile number is required
             </div>


    </div>
  </div>




    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password" minlength="8" maxlength="16" name="pwd" [(ngModel)] ="employee.password" #password ="ngModel" required
            [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger"  [class.d-none]= "password.valid || password.untouched">Password is required field, Password length should be min 8 or max 16 and special characters like @#$%^</small>
    </div>

    <div class="form-group">
      <label for="pwd">Confirm password:</label>
      <input type="password" class="form-control"  placeholder="confirm password"  minlength="8" maxlength="16" name="cpwd" (ngModel) ="employee.password" #cpwd ="ngModel" required
            [class.is-invalid]="cpwd.invalid && cpwd.touched">
            <small class="text-danger"  [class.d-none]= "(cpwd.value == password.value) || cpwd.untouched">Password and confirm password should be same </small>
    </div>


<div class="form-group">
  <label for="designation">Designation:*</label>
    <select id="designation"  [(ngModel)] ="employee.designation"  name="designation" required>
      <option value="Manager">Manager</option>
      <option value="Developer">Developer</option>
      <option value="Test engineer">Test engineer</option>
      <option value="Test lead">Test lead</option>
      <option value="Business analyst">Business analyst</option>
      <option value="Data analyst">Data analyst</option>
      </select>
    </div>

    <button [disabled]="Registerformform.form.invalid" type="submit" class="btn btn-info" >Register</button>&nbsp;&nbsp;&nbsp;
    <button type="reset" class="btn btn-danger">Reset</button><br><br>

    Existing user? <a class="" href="emplogin">Login here</a>
  </form>
</div>
