<div class="container">
    <h3> Create Leave </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Employee Id</label>
            <input type="text" class ="form-control" id = "empId"
                [(ngModel)] = "leave.empId" name = "empId">
        </div>

        <div class="form-group">
            <label>Leave Type</label>
            <select type="text" class ="form-control" id = "leavetype"
                [(ngModel)] = "leave.leavetype" name = "leavetype">
                <option value="earned leave"> Earned Leave </option>
                <option value="casual leave"> Casual Leave </option>
                <option value="sick leave"> Sick Leave </option>
                </select>
        </div>
    
        <div class="form-group">
            <label>Start Date</label>
            <input type="date" class ="form-control" id = "startdate"
                [(ngModel)] = "leave.startdate" name = "startdate">
        </div>

        <div class="form-group">
            <label>End Date</label>
            <input type="date" class ="form-control" id = "enddate"
                [(ngModel)] = "leave.enddate" name = "enddate">
        </div>
    
        <div class="form-group">
            <label>Duration</label>
            <select type="text" class ="form-control" id = "duration"
                [(ngModel)] = "leave.duration" name = "duration">
                <option value="full day">Full Day</option>
                <option value="half day">Half Day</option>
                </select>
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
