<div class="col-md-6 offset-md-3">
    
    <h3> Update Work Schedule </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>EmpId</label>
            <input type="text" class ="form-control" id = "empId"
                [(ngModel)] = "Schedule.empId" name = "empId">
        </div>
    
        <div class="form-group">
            <label>Date</label>
            <input type="date" class ="form-control" id = "date"
                [(ngModel)] = "Schedule.date" name = "date">
        </div>
    
        <div class="form-group">
            <label for="status">Shift</label>
            <select  class ="form-control" id = "time"
                [(ngModel)] = "Schedule.shift" name = "time">
            <option value="Morning">Morning</option>
            <option value="Evening">Evening</option>
            </select>
        </div>
        <div class="form-group">
            <label>StartingTime</label>
            <input type="time" class ="form-control" id = "stime"
                [(ngModel)] = "Schedule.startingTime" name = "stime">
        </div>
        <div class="form-group">
            <label for="status">EndingTime</label>
            <input type="time" class ="form-control" id = "etime"
                [(ngModel)] = "Schedule.endTime" name = "etime">
            
        </div>
        <div>
        <label>Duration</label>
            <select class ="form-control" id = "dtime"
                [(ngModel)] = "Schedule.duration" name = "dtime">
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    <div class="acb">
        <button class = "btn btn-success" type ="submit">Submit</button>
    </div>
    </form>
    </div> 
